
{% extends 'store/base.html' %} {% block content %}
<!-- <div class="alert alert-primary hidden" id= 'alert' role="alert">
  Order Successfully Placed
</div> -->
<div class="container mt-5">
<div class="row " id="checkout"> 
  <div class="col-lg-6">
    <div class="box-element product" id="form-wrap">
      <form id="form">
        <div id="shipping-info">
          <p>Shipping Information:</p>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="address"
              placeholder="Address.."
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="city"
              placeholder="City.."
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="state"
              placeholder="State.."
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="zipcode"
              placeholder="Zip code.."
            />
          </div>
        </div>
        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Proceed to Pay"
        />
      </form>
    </div>
    <div class="box-element hidden" id="payment-info">
      <h3 style="text-align: center;">Paypal Options</h3>
      <div id="paypal-button-container"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element product">
      <div class="">
        <a class="btn btn-outline-dark" href="/cart">&#x2190; Back to Cart</a>
        <hr />
        <h3>Order Summary</h3>
        <hr />
        <div class="cart-row">
          <div style="flex: 2"><strong><p>Image</p></strong></div>
          <div style="flex: 2"><strong><p>Title</p></strong></div>
          <div style="flex: 1"><strong><p>Price</p></strong></div>
          <div style="flex: 1"><strong><p>Quantity</p></strong></div>
        </div>
        {% for item in items %}
        <div class="cart-row">
          <div style="flex: 2">
            <img
              style="height: 60px; width: 70px"
              class="row-image"
              src="{{item.product.image.url}}"
            />
          </div>
          <div style="flex: 2"><p>{{item.product.title}}</p></div>
          <div style="flex: 1"><p>{{item.product.price}}$</p></div>
          <div style="flex: 1"><p>{{item.quantity}}</p></div>
        </div>
        {% endfor %}
       
        <div class="cart-row">
          <div style="flex: 2">
          </div>
          <div style="flex: 2">
          </div>
        <div style="flex: 1"><strong>Total : {{order.get_cart_total}}$</strong></div>
        <div style="flex: 1"><strong>Items :{{order.get_cart_items}}</strong></div>  
      </div> 
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AUwog-GIpneN401tu62zBcEDJ5jHNMqUEyYGqtfGoHv6kNgKd1IY9JTkI1TMxUfA_fGr5XwusnGYtpq1&currency=USD&disable-funding=credit"></script>
<script type="text/javascript">
  var total = "{{order.get_cart_total}}";
  document.getElementById('form-button').addEventListener('click',()=>{
    document.getElementById('form-button').classList.add("hidden")
  })
 paypal.Buttons({

// Set up the transaction
createOrder: function(data, actions) {
    return actions.order.create({
        purchase_units: [{
            amount: {
                value:total
            }
        }]
    });
},

// Finalize the transaction
onApprove: function(data, actions) {
    return actions.order.capture().then(function(details) {
        // Show a success message to the buyer
        submitFormData()
    });
}


}).render('#paypal-button-container');

  var form = document.getElementById("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    document.getElementById("shipping-info").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });
  document.getElementById("make-payment").addEventListener("click", () => {
    submitFormData();
  });

  function submitFormData() {
    console.log("processing");
    var shippingData = {
      address: form.address.value,
      state: form.state.value,
      city: form.city.value,
      zipcode: form.zipcode.value,
      total: total,
    };

    var url = "/place_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ shippingInfo: shippingData }),
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        // document.getElementById('alert').classList.remove('hidden')
        
        window.location = '/'
      });
  }
</script>

{% endblock %}
