{% extends 'store/base.html' %}
{% block content %}
<div class="container mt-5">
<div class="login ">
      <form  action="" method="POST">
            <h3>Login</h3>
            <hr>
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div>
                  <input required class='col-sm' name = 'username' type="text" class="form-control " id="username" aria-describedby="emailHelp">
              </div>
             
            <div class="mb-3 ">
              <label for="password" class="form-label">Password</label>
              <div >
                  <input  required class='col-sm' name = 'password'type="password" class="form-control" id="password">
              </div>
             
            </div>
           
            <div>
              {% for message in messages %}
              <p>{{message}}</p>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/registration">don't have account?</a>
          </form>
      </div>
    </div>
{% endblock %}